.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  justify-content: flex-end;
}

.menuContent {
  width: 218px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 40px;
  position: relative;
  transition: transform 0.3s ease;
}

.isHome {
  background-color: #fff;
}
.isNotHome {
  background-color: #f6b83d;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 110;
}

.navWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
}

.navWrapper :global(nav) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.navWrapper :global(nav a) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  height: 40px;
  padding: 0 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: all 250ms ease;

  border: 1px solid rgba(38, 38, 38, 0.15);
}

.isHome .navWrapper :global(nav a) {
  color: #262626;
}

.isHome .navWrapper :global(nav a:hover),
.isHome .navWrapper :global(nav a.active) {
  border-color: #f6b83d;
  color: #f6b83d;
}

.isNotHome .navWrapper :global(nav a) {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

.isNotHome .navWrapper :global(nav a:hover),
.isNotHome .navWrapper :global(nav a.active) {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.authWrapper {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileLogoutBtn {
  width: 100%;
  height: 44px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    background-color 250ms ease,
    color 250ms ease;
}

.isHome .mobileLogoutBtn {
  background-color: #f6b83d;
  color: #ffffff;
}

.isHome .mobileLogoutBtn:hover {
  background-color: #fff4df;
  color: #f6b83d;
}

.isNotHome .mobileLogoutBtn {
  background-color: #ffffff;
  color: #f6b83d;
  border: 1px solid transparent;
  transition: all 250ms ease;
}

.isNotHome .mobileLogoutBtn:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .menuContent {
    width: 374px;
  }
}

@media screen and (min-width: 1280px) {
  .overlay {
    display: none;
  }
}
