.auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.loginBtn,
.registerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  transition: all 250ms ease;
  padding: 12px 20px;
}

.loginBtn {
  background-color: #f6b83d;
  color: #fff;
}

.registerBtn {
  background-color: #fff4df;
  color: #f6b83d;
}

.mobileAuth {
  flex-direction: column !important;
  width: 100%;
  gap: 12px;
}

.dark,
.light {
  width: 100% !important;
  height: 48px;
  padding: 0;
}

.loginBtn.dark {
  background-color: #f6b83d;
  color: #fff;
}
.registerBtn.dark {
  background-color: #fff4df;
  color: #f6b83d;
}

.loginBtn.light {
  background-color: #fff;
  color: #f6b83d;
}
.registerBtn.light {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .loginBtn:not(.dark):not(.light) {
    padding: 15px 35px;
  }
  .registerBtn:not(.dark):not(.light) {
    padding: 15px 20px;
  }
}
