.header {
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #f6f6f6;
}

.homeHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  border: none;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 18px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userBtn {
  background-color: var(--bg-light);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBtn svg {
  fill: var(--accent-orange);
}

.burgerBtn svg {
  stroke: var(--white);
}

.burgerLight svg {
  stroke: var(--white);
}

.burgerDark svg {
  stroke: #111111;
}

.desktopNav,
.desktopAuth {
  display: none;
}

@media screen and (min-width: 1280px) {
  .desktopNav {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;
  }

  .controls {
    display: flex;
    align-items: center;

    justify-content: flex-end;
  }

  .burgerBtn {
    display: none;
  }
  .desktopNav,
  .desktopAuth {
    display: flex;
  }

  .desktopNav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}
